[submodule "libraries/glfw"]
	path = extern/glfw
	url = https://github.com/glfw/glfw.git
[submodule "libraries/glm"]
	path = extern/glm
	url = https://github.com/g-truc/glm.git
[submodule "extern/tinyobjloader"]
	path = extern/tinyobjloader
	url = https://github.com/tinyobjloader/tinyobjloader.git
